html{
    font-family: Verdana;
   
    background-image: linear-gradient(#533783, #d6c3f5);
    font-size: larger;
    color: #2d3d75;
  
  }

  p, footer{
    text-align: center;
    color: #033d94  ;
}


nav{
    background-color: #a077e4d8;
    text-align: center;
    font-size: larger;
    height: 28px;
}

h1{
    text-align: center;
    color: #e0d4f5;
    text-shadow: 2px 2px #1d274d;
}

h3, h4{
    text-align: left;
margin: 0px;
}

h5{
    text-align: left;
    margin: 10px;
    color: #3b509c;
}

strong{
    color: #0a1742
}


label{
    margin: 7px;
}

hr{
    border: solid 1px #1d274d;
}

form{
    translate: 20vw;
    width: 60vw;
    word-spacing: 2px;
    background-color: #d6c3f5;
    text-align: right;
    margin: 0px;

}


a:link, a:visited {
    color: #06144d;
    text-decoration: none;

}

a:hover,a:active{
    opacity: 50%;
 background-color: #744dbd;
}




.headerblock{
    background-color: #8f8cee;
    margin: 5px;
}

.basicinfo{
    text-align: left;
    color: #0a1742;
    }
